<div style= 'width: 470px; height: 485px;'>
    <% $board.grid.each do |k, v| %>
    <% if v.content.is_a? Water %>
      <% if v.hit == true %>
        <div style= 'width: 40px; height: 40px;
            display: inline-block;
            border: 1px rgb(89,89,89) solid;
            padding: 0px;
            margin-top: 5px;
            background: yellow;'><div style='text-align: center; margin-top: 10px'> <%= k %></div>
        </div>
      <% else %>
        <div style= 'width: 40px; height: 40px;
            display: inline-block;
            border: 1px rgb(89,89,89) solid;
            padding: 0px;
            margin-top: 5px;
            background: #50A6C2;'><div style='text-align: center; margin-top: 10px'> <%= k %></div>
        </div>
      <% end %>
    <% else %>
      <% if v.hit == true %>
        <div style= 'width: 40px; height: 40px;
            display: inline-block;
            border: 1px rgb(89,89,89) solid;
            padding: 0px;
            margin-top: 5px;
            background: red;'><div style='text-align: center; margin-top: 10px'> <%= k %></div>
        </div>
      <% else %>
        <div style= 'width: 40px; height: 40px;
            display: inline-block;
            border: 1px rgb(89,89,89) solid;
            padding: 0px;
            margin-top: 5px;
            background: #666;'><div style='text-align: center; margin-top: 10px'> <%= k %></div>
        </div>
      <% end %>
    <% end %>
    <% end %>
</div>


<div>
  <form action="/game">
    Place Destroyer
    <input type="text" name="coords_1">
    <input type="radio" name="orient_1" value="horizontally" checked> horizontally
    <input type="radio" name="orient_1" value="vertically"> vertically
    <input type="submit" value="Place">
  </form>
  <form action="/game">
    Place Submarine
    <input type="text" name="coords_2">
    <input type="radio" name="orient_2" value="horizontally" checked> horizontally
    <input type="radio" name="orient_2" value="vertically"> vertically
    <input type="submit" value="Place">
  </form>
  <form action="/game">
    Place Battleship
    <input type="text" name="coords_3">
    <input type="radio" name="orient_3" value="horizontally" checked> horizontally
    <input type="radio" name="orient_3" value="vertically"> vertically
    <input type="submit" value="Place">
  </form>
  <form action="/game">
    Place Aircraft Carrier
    <input type="text" name="coords_4">
    <input type="radio" name="orient_4" value="horizontally" checked> horizontally
    <input type="radio" name="orient_4" value="vertically"> vertically
    <input type="submit" value="Place">
  </form>
  <form action="/game">
    Place Patrol Boat
    <input type="text" name="coords_5">
    <input type="radio" name="orient_5" value="horizontally" checked> horizontally
    <input type="radio" name="orient_5" value="vertically"> vertically
    <input type="submit" value="Place">
  </form>
  <form action="/game">
    Fire at coord
    <input type="text" name="fire">
    <input type="submit" value="Fire at Coord">
  </form>
</div>
