<div>

  <form action="/newpage">
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>

  <% if @visitor %>
    Here is your game board <%= @visitor %>!
    <a href="/game">Game Board</a>
  <% end %>

</div>
