

<div>
  <form action="/newpage">
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
  
  <% if @visitor %>

    Here is your new board:
    <%= @result %>

  <% end %>

</div>
