

<div>
  <form action="/newpage">
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>

  This should return <%= @result %>

  <% if @visitor %>

  <% end %>

</div>
