
<div>
  <form action="/newpage">
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
  <% if @visitor %>
    Welcome to your new game!
  <% end %>
</div>
